<div class="card-container">
  <mat-card *ngFor="let app of applications">
    <mat-card-title>{{ app.name }}</mat-card-title>
    <mat-card-content>{{ app.description }}</mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" [href]="app.homepageUrl">App Homepage</a>
    </mat-card-actions>
  </mat-card>
</div>

<a class="fab-absolute" button mat-fab color="accent" aria-label="Create a new app" [routerLink]="['/', 'applications', 'create']">
  <mat-icon>post_add</mat-icon>
</a>
