<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'over'">
    <mat-nav-list role="navigation">
      <a mat-list-item [routerLink]="['/']" (click)="sidenav.close()">Dashboard</a>
      <a mat-list-item [routerLink]="['/applications']" (click)="sidenav.close()">Apps</a>
      <a mat-list-item [routerLink]="['/login']" (click)="sidenav.close()">Login</a>
      <a mat-list-item [routerLink]="['/registration']" (click)="sidenav.close()">Registration</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span>OIDC.Core</span>
      </mat-toolbar>
    </p>
    <main class="app-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>


