@media screen and (min-width: 768px) {
  form {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 12px;
}
